<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/new.css">
    <link rel="stylesheet" href="/public/skeleton.css">
    <title>NEW PAGE</title>
</head>
<body>
    <h1>NEW PAGE WORKING</h1>
    <form action="/arts" method="POST">
        Name: <input type="text" name="Name" /><br />
        Description:  <input type="text" name="Description" /><br />
        Rarity:  <input type="text" name="Rarity" /><br />
        Image:  <input type="img" name="Image" /><br />
        Price:  <input type="number" name="Price" /><br />
        Quantity:  <input type="number" name="Quantity" /><br />
        <input type="Submit" value="Create Digital Art">
    </form>
</body>
</html>