body{
    background-image: url(https://c.tenor.com/M5iwvGvTK3oAAAAC/90s-anime-aesthetic.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size:800px;
}

.main-box{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}