body{
    background-image: url(https://monophy.com/media/BRN2Xi0MqnjjO/monophy.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size:800px;
    background-color:white;
}

.main-box{
text-align: center;
font-family: 'Gameplay', sans-serif;
text-shadow: 2px 2px 2px white; //width, placement, yx
}

img {
    width: 100px;
    height:100px;
    border: 5px solid black;
    padding: 5px;    
}

 .flex-container{
     display:flex;
     flex-wrap: wrap;
     justify-content:space-between;
     padding: 10%;
 }

 footer{
     font-family: 'Gameplay', sans-serif;
     text-align: center;
     text-shadow: 2px 2px 2px white; //width, placement, yx
 }

 .container{
     color: black;
 }

 .text{
     font-family:'Gameplay', sans-serif;
     text-align: center;
     text-shadow: 5px 5px 5px white; //width, placement, yx
 }