body{
    background-image: url("https://c.tenor.com/W8ajHdMwbdUAAAAC/retro-anime-sleep.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-attachement: fixed;
    background-size: 650px;
    background-color:white;
}

.main-box{
    padding: 10%;
    text-align: center;
    justify-content: space-evenly;
    font-family: 'Gameplay', sans-serif;
    text-shadow: 2px 2px 2px white; //width, placement, yx
}

footer{
    font-family: 'Gameplay', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 2px white; //width, placement, yx
}

.createArt{
text-align: center;
}